{% extends "!layout.html" %}

{% block relbar2 %}{% endblock %}

{% block rootrellink %}
        <li><a href="{{ pathto('index') }}">Home</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('why_openmeeg') }}">Why OpenMEEG?</a>&nbsp;|&nbsp;</li>
        <li><a href="http://openmeeg.gforge.inria.fr/download/">Download</a>&nbsp;|&nbsp;</li>
        <li><a href="https://github.com/openmeeg/openmeeg/">Source code</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('license') }}">License</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('publications') }}">Publications</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('hackers_guide') }}">Hackers guide</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('contact') }}">Contact us</a>&nbsp;|&nbsp;</li>
        <!-- <li><a href="{{ pathto('search') }}">Search</a></li> -->
{% endblock %}

{% block relbar1 %}
<div style="background-color: white; text-align: left; padding: 10px 10px 15px 15px; min-height:150px">
    <div style='float:left'>
        <a href="{{ pathto('index') }}"><img src="{{ pathto("_static/logo.png", 1) }}" border="0" alt="openmeeg"/></a>
    </div>
    <div id="title">
        OpenMEEG
         <br/>
        A C++ package for low-frequency bio-electromagnetism <br/>
        solving forward problems in the field of EEG and MEG.
    </div>
</div>
{{ super() }}
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

