{% extends "!layout.html" %}

{% block relbar2 %}{% endblock %}

{% block rootrellink %}
        <li><a href="{{ pathto('index') }}">Home</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('why_openmeeg') }}">Why OpenMEEG?</a>&nbsp;|&nbsp;</li>
        <li><a href="https://files.inria.fr/OpenMEEG/download/">Download</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('tutorial') }}">Tutorial</a>&nbsp;|&nbsp;</li>
        <li><a href="https://github.com/openmeeg/openmeeg/">Source code</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('license') }}">License</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('publications') }}">Publications</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('contact') }}">Contact us</a>&nbsp;|&nbsp;</li>
        <!-- <li><a href="{{ pathto('search') }}">Search</a></li> -->
{% endblock %}

{% block relbar1 %}
<div style="background-color: white; text-align: left; padding: 10px 10px 15px 15px; min-height:150px">
    <div style='float:left; display:inline-block'>
        <a href="{{ pathto('index') }}"><img src="{{ pathto("_static/logo.png", 1) }}" border="0" alt="openmeeg"/></a>
    </div>
    <div id="title" style="display:inline-block">
        OpenMEEG
         <br/>
        A C++ package for low-frequency bio-electromagnetism <br/>
        solving forward problems in the field of EEG and MEG
    </div>
    <div style="float:right; display:inline-block">
        <a href="http://www.inria.fr"><img src="{{ pathto("_static/inria.png", 1) }}" width="200px" border="0" alt="INRIA"/></a>
    </div>
    <div style="float:right; display:inline-block">
        <a href="https://github.com/openmeeg"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" title="Get OpenMEEG as Open Source package from GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
    </div>
</div>
{{ super() }}
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

